config:
  # Whether to enable metrics or not. Metrics are a way for the developer to know how many people/servers
  # are using this plugin and other statistics, you will not see a change in performance in the slightest if you keep
  # them enabled. That said, keeping them enabled is highly appreciated <3.
  use metrics: true
  # Extra console messages to have an idea of what is happening under the carpet.
  debug: false
  # Default base HP for new players. 20 = 1 full bar
  default base HP: 20
  # Cooldowns for HP formulas editing/creating
  formulas admin cooldown:
    create: 30
    delete: 10
    edit: 10
  # The Minimum amount of HP a player can have. After a formula is applied, if the resulting value is lower than this
  # number, the player's HP will set to this amount.
  HP floor:
    # if a world is not specified
    global: 1
    worlds:
      world: 3
      world_the_end: 2
  # The Maximum amount of HP a player can get. When adding or setting, if enabled and the resulting HP is
  # higher than this cap and the player does not have the "HealthPower.cap.bypass" the HP will not be modified.
  # Set to -1 to disable.
  HP cap:
    global: 40
    worlds:
      world: 37
      world_the_end: -1
  # If true will try to update the player's health bar to avoid client side render errors.
  # In some versions, if a player has an abnormal number of hearts, the clients would just show 20 (a full bar).
  # This option will set the player's HP to 1, then back to the original amount, to force a render update.
  update HP on join: true
  # Whether the plugin should check AND CORRECT a player's HP.
  check HP on join: true
  check HP on reload: true
  # Should group-based HP be used in variables? Groups' HP is specified in the HP.yml file
  use groups system: true
  # If enabled, the plugin will look for permissions with the format "healthpower.amount.X" where X is a given amount.
  use permissions system: true
  # Should custom consumable items for adding/setting HP be enabled?
  # If true, you can create your own consumable items and set them with a simple in-game command
  # with the following format:
  # /healthpower consumable add (name) (set/add) (amount)
  # Consumables will modify the players' base health.
  consumables enabled: true
  # Periodic HP checker, the same as running "/hp checkAll" every certain amount of time.
  periodic checker:
    # If true, the periodic checker will check player's HP.
    enabled: false
    # The interval between periodic checks, it should be composed of a number and a time unit
    # Available time units: t = ticks (20 ticks =~ 1 second), s = seconds, m = minutes, h = hours, d = days, w = weeks
    period: 30s
  # Whether to notify a player when its HP has been corrected.
  notify HP check: true
  # Whether to notify a player when its HP has been manually modified.
  notify HP modify: true